
// Colors
$open_01: #000000;
$open_02: #666666;
$open_03: #4a4a4a;
$open_04: #7a787a;
$open_05: #979797;
$open_06: #a19ea2;
$open_07: #b7b7b7;
$open_08: #bababa;
$open_09: #bbbbbb;
$open_10: #d8d8d8;
$open_11: #e5e5e5;
$open_12:rgba(216, 216, 216, 0.16);
$open_13: rgba(102, 102, 102, 0.5);
$open_14: #3550fa;
$open_15: #0035ff;
$open_16: #0092f7;
$open_17: #01c40e;
$open_18: #32c832;
$open_19: #008080;
$open_20: rgba(0, 128, 128, 0.5);
$open_21: #f0b414;
$open_22: #ff7d14;
$open_23: #f62c04;
$open_24: #f6df04;
$open_25: #d5ff70;
$open_26: #9200f7;
$open_27: #f3f3f3;
$open_28: #ffffff;

// Dark mode
$open_29:#31cbcb;
$open_30:#090e12;
$open_31:#f2f2f2;
$open_32:#d4d4d4;
$open_33:#4398f5;
$open_34:#38444d;


//Iconos

$open-arrow_c: "\e900";
$open-arrow_c_down: "\e901";
$open-info: "\e902";
$open-logo: "\e903";
$open-fill-4: "\e904";
$open-fill-1: "\e905";
$open-wf: "\e906";

//Responsive configuration

$mobile: 320px; // Phone portrait minimum
$mobile-landscape: 480px; // Phone landscape minimum
$tablet: 768px; // Tablet portrait minimum
$desktop: 992px; // Laptop+Desktop minimum
$large-desktop: 1200px; // Large screen minimum

$rd-types:	(
	xs:'min-width: #{$mobile}',
	sm:'min-width: #{$mobile-landscape}',
	md:'min-width: #{$tablet}',
	lg:'min-width: #{$desktop}',
  xl:'min-width: #{$large-desktop}'
)!default; // Responsive configuration

$hundred:	100%;
