// Layout */

html{
	-ms-text-size-adjust: 100%;
 	-webkit-text-size-adjust: 100%;
 	-moz-text-size-adjust: 100%;
	font-size:x-small;
}

header, div{
	outline:none;
}

html,
body{
	height: 100%;
}

body{
	margin: 0;
  @extend %bodyCopy;
  background:$open_27;
  color: $open_03;
	position:relative;
  overflow-y:visible;
  padding:0;

  &.lock{
    overflow: hidden;
  }
}
iframe{
  width: $hundred !important;
}

a{
  text-decoration:none;
  color:$open_14;
}

h2{
  font-size:2rem
}
h3{
  font-size:1.8rem;
  color:$open_06;
  margin:0 0 1rem 0;
  &.lite{
    font-weight: 400;
    margin:1rem 0;
  }
  span{
    font-weight: 400;
  }
}
h4{
  font-size:1.6rem;
  margin:0 0 1rem 0;
  span{
    font-weight: 400;
  }
}

p{
  font-size:1.4rem;
  margin:0 0 1rem 0;
}

span{
  font-size:1.2rem;
}

input{
  display:block;
  &[type="text"],
  &[type="number"],
  &[type="password"],
  &[type="file"],
  &[type="time"],
  &[type="time" i],
  &[type="date"],
  &[type="date" i]{
    width:$hundred;
    margin:0 0 1rem 0;
    padding:0.8rem;
    font-size:1.4rem;
    color:$open_01;
    border:none;
    font-family: $helvetica-sans;
    border-bottom: 0.1rem solid $open_19;
  }
  &:focus {
    outline: none;
    box-shadow:none;
  }
  &:optional{
    border-color:$open_19;
  }
  &:required{
    border-color: $open_14;
  }

  &:required:valid{
    border-color:$open_18;
  }

  &:required:valid + span{
    display:none;
  }

  &:required + span{
    display:block;
  }
}
select{
  width:$hundred;
  border:none;
  border-bottom: 0.1rem solid $open_19;

  cursor: pointer;
  border-radius: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  margin:0 0 1rem 0;
  padding:0.8rem;
  font-size:1.4rem;
  color:$open_01;
  transition: box-shadow .25s ease-in;
  background: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23004F67%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'), transparent;
	background-repeat: no-repeat, repeat;
	background-position: right 1rem top 54%, 0 0;
  background-size: 0.9rem auto, 100%;
  &:focus {
    outline: none;
    box-shadow:none;
  }
  &.saved{
    border-color:$open_17;
  }
}
@media (map-get($rd-types, lg)){
  input{
    display:inline-block;
    &[type="text"],
    &[type="password"],
    &[type="file"],
    &[type="time"],
    &[type="date"]{
      width:49%;
    }
  }
}
