.ar_status{
  padding:0;
  .status{
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    padding:1.5rem 4rem 1.5rem 1.6rem;
    background:$open_17;
    h2, h3{
      color:$open_28;
      width:$hundred;
    }
    h2{
      font-size:2rem;
    }
    h3{
      text-align: right;
      font-size:4rem;
    }
  }

  &.ready .status {
    background:$open_17;
  }
  &.connected .status {
    background:$open_25;
    h2,h3{
      color:$open_03;
    }
  }
  &.charging .status {
    background:$open_16;
    h2,h3{
      color:$open_28;
    }
  }
  &.sleeping .status {
    background:$open_26;
  }
}
