.dark{
 background:$open_01;
 color:$open_28;

  input{
    background:none;
    color:$open_28;
    border-color: $open_29;
  }
  a {
    color:$open_33;
  }
  .switch_c{
    span.selected{
      color:$open_29;
    }
    .switch input:checked+label:before{
      background::$open_29
    }
  }

  header h1 span,.advance label{
    color:$open_28;
  }
 .menu {
   background:none;
   border:none;
    ul {
      background:$open_01;
      li {
        label{
          color:$open_28;
        }
      input:hover + label, input:checked + label {
        border-bottom:0.3rem solid $open_29;
        color:$open_29;
      }
    }
  }
 }
 article{
   box-shadow:none;
   border:0.1rem solid $open_34;
   background:$open_30;

 }
 .l_form li.link a{
  color:$open_28;
 }
}
