.l_data_s{
  margin:1rem 0;
  li{
    display:flex;
    margin:0 0 1rem 0;
    justify-content: space-between;
    @include clearfix();
    &.error{
      border-left:0.5rem solid $open_23;
      span{
        color:$open_23;
      }
    }
    span{
      width:49%;
      padding:0.5rem;

      color:$open_06;
      &:nth-child(2){
        color:$open_03;
      }
      &:nth-child(3){
        text-align:right;
      }
    }
    .switch{
      top:0;
      float: right;
    }
  }
  em{
    font-style: normal;
  }
  @media (map-get($rd-types, md)){
   display:flex;
   justify-content: space-between;
   flex-wrap: wrap;
   li{
    width:48%;
   }
  }
}
