.l_ssid{

  padding:2.7rem 1rem 0 1rem;
  li{

    text-align: center;
    margin:0 0 2.7rem 0;
  }
  @media (map-get($rd-types, lg)){
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding:2.7rem 1rem 0 1rem;
    li{
      width: 50%;
    }
  }
}
