.message{
  margin:1rem 0;
  padding:1.5rem 1rem;
  border-left:0.6rem solid $open_08;
  width:$hundred;
  &.error{
    border-color:$open_23;
    h4{
      color:$open_23;
    }
  }

  em{
    font-style: normal;
  }

  span + h4{
    margin:1rem 0;
  }
  &.warning{
    border-color:$open_24;
  }

  &.scan{
    text-align:center;
    margin:1rem 0;
    border:none;
    background:$open_12;
    padding:1.5rem 0;
    p{
      color:$open_04;
      font-size:2.4rem;
    }
  }
  ul{
    display:block;
    margin:0 0 1rem 0;
    padding:0 0 0 2rem;
    li{
      font-size:1.4rem;
      margin:0 0 1rem 0;
      padding:0 1rem;
      list-style:disc;
    }
  }
}
